.video
  %ul.video__list
    %li.video__item
      %a(href="")
    %li.video__item
      %a(href="")
    %li.video__item
      %a(href="")
    %li.video__item
      %a(href="")
    %li.video__item
      %a(href="")